.card{
  width: 150px;
  display: flex;
  height: 200px;
  cursor: pointer;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}

#grid-container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 80px;
  justify-content: center;
}
button{
  padding: 10px 60px;
  font-size: 18px;
  display: none;
}
#tableau{
  display: flex;
  gap: 20px;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
}
body{
  width: 100%;
  height: 100%;
}